.article-dot-icon {
  color:  rgb(76, 134, 76);
  display: flex;
  width: 100%;
}


.articlesList {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  padding-bottom: 40px;

  .article {
    flex: 1 1 calc(33.333% - 2rem);
    max-width: 410px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: translateY(-10px);
    }

    .title {
      font-size: 1.25rem;
      font-weight: bold;
      margin: 1rem;
    }

    .content {
      font-size: 1rem;
      margin: 0 1rem 1rem;
      flex-grow: 1;
    }

    .read-more {
      color: white;
      align-self: center;
      width: 220px;
      display: flex;
      justify-content: center;
      font-weight: 500;
      background-color: #f26629;
    }

    .delete-button {
      color: white;
      display: flex;
      justify-content: center;
      align-self: center;
      width: 220px;
      font-weight: 500;
      background-color: #ff0000;
      
    }
  }
}

@media (max-width: 768px) {
  .articlesList {
    display: flex;
    flex-direction: column;

    .article {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      justify-content: center;
      max-width:  768px;
    }

    .read-more {
      width: 100%;
    }

    .delete-button {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}