.contact-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-page-banner {
  /* Your existing styles */
}

.contact-page-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.contact-page-info {
  flex: 1;
  padding: 20px;

  .contact-dots-icon {
    color: #00bfa5;
  }

  h1 {
    font-size: 35px;
    font-weight: bold;
    color: #333;
    margin-top: -20px;
  }

  .contact-details {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .contact-detail-item {
      display: flex;
      align-items: flex-start;
      margin-top: 25px;
      font-weight: 500;

      .contact-icon {
        margin-right: 8px;
        color: #00bfa5;
      }
      .contact-icon-first {
        margin-right: 8px;
        color: #00bfa5;
      }
    }
  }
}

.contact-page-form {
  flex: 1;
  padding: 20px;
  width: 900px;
  // Your existing styles for form
}

.contact-form {
  width: 700px;
  margin: auto;
  padding: 20px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Zapewnia, że elementy przejdą do nowej linii, jeśli nie zmieszczą się */
}

.form-group {
  flex-basis: calc(50% - 10px); /* Daje pół szerokości minus odstęp */
  margin-bottom: 20px;

  &.consent-group {
    display: flex;
    align-items: center;
    gap: 10px;

    .consent-label {
      margin: 0;
      font-size: 0.9rem;
    }
  }
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333333;
  font-size: 20px;
  font-weight: 500;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 100%; /* Szerokość w stosunku do kontenera .form-group */
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  font-size: 14px;
}

.form-group textarea {
  flex-basis: 100%; /* Textarea zajmie całą dostępną szerokość */
  resize: none;
  height: 150px;
}

.contact-form button[type="submit"] {
  display: flex;
  justify-content: center;
  width: 20%;
  margin: auto;
  padding: 10px;
  background-color: #f26629;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.contact-form button[type="submit"]:hover {
  opacity: 0.9;
}


.contact-button {
  background-color: #f26629;
  margin-top: -30px;
  width: 200px;
}

.article-dot-icon {
  color:  rgb(76, 134, 76);
  display: flex;
  width: 100%;
}

.backgroundImage {
  background-image:url('https://files.oaiusercontent.com/file-gwxsa9ta7yGsxcpApApAtEdr?se=2024-09-03T08%3A46%3A14Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D64cb2d10-590d-4bae-b573-1de25c2a95dd.webp&sig=UIC8vYZk/Cy1EhFElxSb6sIAx41D19ETDi2uRtpI8vs%3D');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 500px;
  margin: 20px 0 1px 0;
}

.text-container {
  margin-left: 300px;
  margin-top: 150px;
}

@media (max-width: 768px) {
  .form-row {
    flex-direction: column; /* Układaj form-group w kolumnie na małych ekranach */
  }

  .form-group {
    flex-basis: 100%; /* Zmień na 100%, aby inputy zajmowały całą szerokość */
  }

  .text-container {
    margin-left: 20px; /* Zmniejsz lewy margines */
    text-align: center; /* Centruj tekst */
  }

  .backgroundImage {
    height: auto; /* Zmień wysokość, aby była automatycznie dostosowana do zawartości */
    padding: 50px 20px; /* Dodaj padding, aby tekst nie dotykał krawędzi */
  }

  .contact-page-form {
    width: auto; /* Zmień szerokość formularza, aby automatycznie dopasowywał się do ekranu */
  }
  
  .contact-form {
    width: auto; /* Zmień szerokość formularza, aby automatycznie dopasowywał się do ekranu */
  }

  .contact-button {
    margin-top: 20px; /* Zmień górny margines przycisku */
    width: auto; /* Zmień szerokość przycisku, aby automatycznie dopasowywał się do ekranu */
  }

  .article-dot-icon, .contact-dots-icon {
    justify-content: center; /* Centruj ikony kropek */
  }
}
