.language-switcher {
  position: relative;
  display: inline-block;
}

.language-switcher select {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.current-language {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}