.header-container-main {
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 90px;

  .header-title-container {
    flex-basis: 60%; // gives more space to the text on large screens
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 200px;

    h1 {
      margin: 0 0 0.5rem 2rem; // Bottom margin for some spacing
      padding: 0;
      color: #242b52; // A vibrant color for the text, change as needed
      font-size: 4rem; // Larger font size for emphasis
      font-weight: 800; // Bold font weight
      line-height: 1.2; // Tighter line height for a better look
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); // Subtle text shadow for depth
      letter-spacing: 0.05rem;
    }
    p {
      font-weight: 400;
    }

    // Keyframes for the fadeIn effect
    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
      }
      to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }

    // Style your buttons here
  }

  .header-buttons {
    display: flex;
    padding-top: 30px;
    width: 400px;
    flex-direction: row;
    justify-content: space-around;
    
    a {
      background-color: #f26629;
      border-radius: 10px;
      width: 180px;
      padding: 10px;
      color: white;
      text-align: center;
      font-weight: 600;
    }
  }

  .header-image {
    flex-basis: 60%; // gives less space to the image on large screens
    display: flex;
    justify-content: center;
    padding: 0 12rem 0 0;
    animation: fadeIn 1s ease-in-out;

    img {
      height: 70vh;
      object-fit: cover;
    }
  }
}


.icon {
  display: flex;
  justify-content: center;
  margin: auto;
  color:  #242b52;
}

@media only screen and (max-width: 1024px) {
  // Styles here will apply to screens smaller than 1024px and won't affect larger screens
  .header-container {
    flex-direction: column;
    padding-bottom: 50px;

    .header-title-container {
      flex-basis: 90%;
      padding-left: 0;
      padding-right: 0;
      text-align: center;

      h1 {
        margin: 0; // Resets any specific margin settings for smaller screens
        font-size: 2.5rem; // Adjust font size for smaller screens if necessary
      }
      
      // If you have any paragraphs or other text, adjust them here too
    }

    .header-buttons {
      width: 100%;
      flex-direction: column; // Stack the buttons on top of each other
      align-items: center; // Center-align the buttons

      a {
        width: 80%; // Example width, adjust as necessary for your design
        margin-bottom: 1rem; // Adds space between stacked buttons
      }
    }

    .header-image {
      width: 100%;
      padding: 0;

      img {
        width: 100%; // Ensures the image is responsive and scales down
        height: auto; // Maintain aspect ratio
      }
    }
  }
}

