.products-carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.carousel-content {
  display: flex;
  overflow: hidden;
  padding: 20px 0;
}

.carousel-item {
  height: 400px;
  min-width: 25%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.carousel-item .product-description {
  flex-grow: 1;
  margin-bottom: 10px;
  max-height: 40px; 
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
}

.carousel-item .product-price {
  margin-top: auto;
  font-size: 18px;
  font-weight: bold;
}

@media only screen and (max-width: 1024px) {
  .carousel-item {
    height: 450px;
    min-width: 33%;
  }

  .carousel-content {
    gap: 10px; 
  }
}

@media only screen and (max-width: 768px) {
  .carousel-item {
    min-width: 100%;
    height: 380px;
  }

  .carousel-item .product-description {
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .carousel-item .product-price {
    font-size: 16px;
  }
}
