.footer {
  font-size: 0.875rem;
  color: #242b52;
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid lightgray;
  border-top: 2px solid lightgray;
  height: 100px;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  margin-left: -6px;
}

.footer-info a {
  font-size: 1rem; /* Mniejszy rozmiar tekstu dla dolnych linków */
}

/* Responsywność */
@media (max-width: 768px) {
  .footer-top,
  .footer-bottom {
    flex-direction: column;
    text-align: center;
  }

  .footer-links,
  .footer-info {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
  }

  .footer-links a,
  .footer-info a {
    margin-bottom: 0.5rem; /* Dostosuj odstęp */
  }
}
