@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  scroll-behavior: smooth;
}

.navbar-container {
  padding-top: 130px; 
}

@media (max-width: 850px) {
  .navbar-container {
    padding-top: 100px; 
  }
}